body{
    margin: 0;
    max-width: 1440px;
}

/* Header*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

/* Fin Header*/

/* Search Block*/

.location input{
    background-color: #e6e6e6;
    border: none;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    width: 9rem;
    padding-left: 0.6rem;
}
#search-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: #e6e6e6;
    width: 100%;
    border-top: 0.3rem solid #dadada;
}
.exploration{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.exploration h1{
    margin-bottom: 0;
}
.exploration p{
    margin-bottom: 2rem;
}
.btn{
    color: #fff;
    background: linear-gradient(0deg, #9356dc, #ff79da);
    font-size: 1.2rem;
    text-decoration: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 15rem;
}
a{
    text-decoration: none;
    color: inherit;
}

/* Fin Search Block*/

.functioning-list{
    display: flex;
    justify-content: space-evenly;
}
.functioning-step{
    display: flex;
    justify-content: center;
    align-items: center;
}
.functioning-step h3{
    padding-left: 1.3rem;
}
.functioning-step i{
    padding-left: 1.3rem;
}
.functioning-step{
    background-color: #f2f2f2;
    width: 17rem;
    border-radius: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}