/* Pages restaurants (4)*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

a{
    text-decoration: none;
    color: inherit;
}

$color-primary:#9356DC;
$color-secondary:#ff79DA;
$color-tertiary: #99E2D0;

.header--backhome{
    position: relative;
}

.header_logo{
    font-family: Shrikhand;
}

.restaurantcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.header--backhome i{
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}

/* Début du main*/

.menu_container{
    max-width: 1280px;
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
    border-radius: 2rem 2rem 0 0;
    margin: -2rem auto 0rem auto;
}

.menu_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0 1rem;

    & h2{
        font-family: Shrikhand;
    }

    & .menu_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        height: 2rem;
        width: 2rem;
        border: 0 solid transparent;
    
        & > i{
            font-size: 1.7rem;
        }
    }
}

.submenus{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}

.submenu{
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;

    & .submenu_title{
        position: relative;
        padding-bottom: .5rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.entry-1, .entry-2, .entry-3, .entry-4, .flat-1, .flat-2, .flat-3, .dessert-1, .dessert-2, .dessert-3{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: .75em;
    margin: 1rem 0;
    box-shadow: .25rem .25em 1rem rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
}

.entry_info, .flat_info, .dessert_info{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        font-size: 1.1rem;
}

.entry_title, .flat_title, .dessert_title{
    margin: 0;
}

.entry_accompaniement, .flat_accompaniement, .dessert_accompaniement{
    margin: 0;
}

.entry_price, .flat_price, .dessert_price{
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
}

.entry_confirmation, .flat_confirmation, .dessert_confirmation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    transition-duration: .6s;
}

.entry_icon, .flat_icon, .dessert_icon{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 100px;
    background-color: #fff;
    height: 1.6rem;
    width: 1.6rem;
}

.entry_icon i, .flat_icon i, .dessert_icon i{
    color: #99e2d0;
}

.menu_command{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;

    & .commandbtn{
        font-size: 1.2rem;
        font-weight: 500;
        border: 0;
        padding: .75rem 1.5rem;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        box-shadow: .25rem .25rem 10px;
        background-image: linear-gradient(0deg, rgba(77, 36, 128, 0.9), rgba(255, 121, 218, .9));
        cursor: pointer;
    }
}

/* Début Footer*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #353535;
    flex-wrap: wrap;
    padding: 2em;
    color: #fff;
    font-size: 1.3em;

    & > .footer-logo {
        font-family: Shrikhand ;
        margin: 0;
        padding: 0;
        box-sizing: inherit;
        scroll-behavior: smooth;
        color: #fff;
    }

    & a{
        color: #fff;
        height: 1.5em;

        & i{
            margin-right: .5em;
        }
    } 
}
/* Fin Footer*/