@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Palette de couleurs*/
/* Mixins*/
body {
  margin: 0;
  font-family: Roboto, sans-sérif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header*/
.header--backhome {
  position: relative;
}

.header_logo {
  font-family: Shrikhand;
}

.restaurantcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header--backhome i {
  position: absolute;
  left: 2rem;
  top: 1.8rem;
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #000;
}

@media screen and (max-width: 375px) {
  .header--backhome i {
    left: 1rem;
  }
}

/* Fin Header*/
/* Début du main*/
.menu_container {
  max-width: 1280px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  border-radius: 2rem 2rem 0 0;
  margin: -2rem auto 0rem auto;
}

.menu_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem 0 1rem;
}

.menu_top > h2 {
  font-family: Shrikhand;
  font-weight: 500;
}

.menu_top .menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
}

.menu_top .menu_btn > i {
  font-size: 1.7rem;
}

.submenus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.submenu {
  max-width: 90%;
  overflow: hidden;
  padding: 0 1rem;
}

.submenu .submenu_title {
  position: relative;
  padding-bottom: .5rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
}

.meal {
  background-color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .75em;
  margin: 1rem 0;
  -webkit-box-shadow: 0.25rem 0.25em 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25em 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  -webkit-animation: grow 0.6s;
          animation: grow 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.delay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.meal_info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.1rem;
}

.meal_title {
  margin: 0;
}

.meal_accompaniement {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.meal_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: .5rem;
}

.meal_confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.meal:hover .meal_confirmation {
  margin-right: -1rem;
}

.meal_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background-color: #fff;
  height: 1.6rem;
  width: 1.6rem;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.meal:hover .meal_icon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.meal_icon i {
  color: #99e2d0;
}

.menu_command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.menu_command .commandbtn {
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  padding: .75rem 1.5rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(77, 36, 128, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(77, 36, 128, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 3px #e0dfdf;
          box-shadow: 3px 3px 3px #e0dfdf;
}

.menu_command .commandbtn:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media screen and (max-width: 1220px) {
  .submenus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .submenu {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .submenu {
    width: 100%;
  }
  .submenu .submenu_title {
    margin-left: 1rem;
  }
}

/* Début Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
  color: #fff;
  font-size: 1.3em;
}

.footer > .footer-logo {
  font-family: Shrikhand;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
  color: #fff;
}

.footer a {
  color: #fff;
  height: 1.5em;
}

.footer a i {
  margin-right: .5em;
}

@media screen and (max-width: 1000px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer > .footer-logo {
    padding-bottom: 1.5rem;
  }
  .footer a {
    padding-bottom: 0.6rem;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding-left: 1rem;
  }
}

/* Fin Footer*/
/*# sourceMappingURL=menusrestaurants.css.map */