@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Palette de couleurs*/
/* Mixins*/
body {
  font-family: Roboto, sans-sérif;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeout;
          animation: fadeout;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.letter {
  color: #9356dc;
  font-family: Shrikhand;
  font-size: 40px;
  -webkit-animation: flash 1.4s linear infinite;
          animation: flash 1.4s linear infinite;
}

.letter:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.letter:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.letter:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.letter:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.letter:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.letter:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.letter:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: none;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #FFF900;
    text-shadow: 0 0 7px #FFF900, 0 0 50px #FF6C00;
  }
}

@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: none;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #FFF900;
    text-shadow: 0 0 7px #FFF900, 0 0 50px #FF6C00;
  }
}

@-webkit-keyframes fadeout {
  100% {
    opacity: 0;
    z-index: -99;
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
    z-index: -99;
  }
}

/* Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

/* Fin Header*/
/* Search Block*/
.location input {
  background-color: #e6e6e6;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  width: 9rem;
  padding-left: 0.6rem;
}

#search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  background-color: #e6e6e6;
  width: 100%;
  border-top: 0.3rem solid #dadada;
}

.exploration {
  background-color: #f2f2f2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
}

.exploration > h1 {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 2rem;
}

.exploration p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.exploration .btn {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  font-size: 1.2rem;
  text-decoration: none;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  width: 15rem;
}

.exploration .btn:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-box-shadow: 3px 3px 3px #adacac;
          box-shadow: 3px 3px 3px #adacac;
}

@media screen and (max-width: 630px) {
  .exploration h1 {
    text-align: center;
  }
  .exploration p {
    text-align: center;
  }
}

/* Fin Search Block*/
#functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em 0em;
  margin-bottom: 2rem;
}

#functioning > h2 {
  width: 100%;
  color: #000;
  font-size: 2rem;
  margin-left: 2.25rem;
}

#functioning .step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 1.8rem;
  margin-right: 1.5rem;
}

#functioning a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.2rem;
  border-radius: 1.5rem;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 5px 15px #00000033;
          box-shadow: 0 5px 15px #00000033;
  cursor: pointer;
  font-size: 1rem;
  margin: 1em 0 0 0;
  padding: 24px 32px 24px 0;
  width: 27%;
  position: relative;
  height: 1.5rem;
}

#functioning a:hover {
  background-color: #e6d6f8;
}

#functioning .functioning-step span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356dc;
  border-radius: 1.2rem;
  color: #fff;
  height: 1.5em;
  padding: 0.3em;
  position: absolute;
  right: 6em;
  left: -1em;
  width: 1.5em;
}

#functioning .functioning-step i {
  padding-right: 1.2rem;
  color: #7e7e7e;
}

#functioning .functioning-step .ico-resto {
  padding-left: 15px;
}

#functioning .functioning-step h3 {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

#functioning .functioning-step .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1.5rem;
}

@media screen and (max-width: 1072px) {
  .step-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #functioning a {
    width: 90%;
    max-width: 450px;
  }
}

@media screen and (max-width: 800px) {
  #functioning > h2 {
    margin-left: 1rem;
  }
}

/* Partie : Restaurant*/
#restaurants {
  background-color: #f6f6f6;
  padding: 1rem 0 2rem 0;
}

.restaurants-container {
  margin: auto;
}

.restaurants-container > h2 {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0 1rem 1rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cards > a {
  -webkit-box-shadow: 0 5px 15px #00000033;
          box-shadow: 0 5px 15px #00000033;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1em 0;
  max-width: 45%;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.cards > a > .card-img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards > a > .new-card {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

/* Partie : Restaurant infos*/
.restaurant-info {
  padding: 0.6rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-info .card-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.restaurant-info .card-content .card-title {
  margin: 0 0 0.25rem;
}

.restaurant-info .card-content .card-district {
  margin: 0;
}

.restaurant-info .card-heart {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.restaurant-info .card-heart .fa-heart {
  position: absolute;
  font-size: 2rem;
  color: grey;
}

.restaurant-info .card-heart .fa-gradient {
  width: 2rem;
  height: 3rem;
}

.restaurant-info .card-heart .fa-gradient:hover {
  cursor: pointer;
  font-weight: bold;
  -webkit-animation: backgroundheart 1s;
  animation: backgroundheart 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#fa79da));
  background: linear-gradient(#9356dc, #fa79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes backgroundheart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundheart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards > a {
    max-width: none;
    width: 100%;
  }
}

/* Fin Partie Restaurants*/
/* Début Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
  color: #fff;
  font-size: 1.3em;
}

.footer > .footer-logo {
  font-family: Shrikhand;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
  color: #fff;
}

.footer a {
  color: #fff;
  height: 1.5em;
}

.fa-utensils::before {
  margin-right: 8px;
}

/* Fin Footer*/
@media screen and (max-width: 1000px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer > .footer-logo {
    padding-bottom: 1.5rem;
  }
  .footer a {
    padding-bottom: 0.6rem;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding-left: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */